{% extends 'base.html' %}
{% block content %}
<section class="about">
  <h1 class="about-title">О нас</h1>
  <div class="about-content">
    <p class="about-description">
      Мы — не просто магазин электроники, а сообщество единомышленников, горящих страстью к технологиям и инновациям.
      Наша история началась в 2015 году, когда группа инженеров-энтузиастов решила создать пространство, где сложные
      электронные компоненты становятся доступными инструментами для творчества. За эти годы мы выросли из небольшой
      мастерской в крупный центр технологических решений, но сохранили главное — искреннюю веру в то, что технологии
      должны быть понятными, вдохновляющими и открытыми для всех. Сегодня мы объединяем более 50 000 изобретателей,
      студентов и профессионалов по всей стране, помогая превращать смелые идеи в работающие прототипы и готовые
      продукты.
    </p>
    <div class="about-map-container">
      <div style="position:relative;overflow:hidden;"><a
          href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
          style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a
          href="https://yandex.ru/maps/213/moscow/house/gogolevskiy_bulvar_29/Z04Ycw5pT00AQFtvfXt1eHpnZw==/?ll=37.601206%2C55.749864&utm_medium=mapframe&utm_source=maps&z=17.82"
          style="color:#eee;font-size:12px;position:absolute;top:14px;">Гоголевский бульвар, 29 —
          Яндекс Карты</a><iframe class="about-map"
          src="https://yandex.ru/map-widget/v1/?ll=37.601206%2C55.749864&mode=whatshere&whatshere%5Bpoint%5D=37.599346%2C55.749464&whatshere%5Bzoom%5D=17&z=17.82"
          frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}