<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volt Zone</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% include 'components/header.html' %}
  <main class="content">
    {% block content %}{% endblock %}
  </main>
  {% include 'components/footer.html' %}
</body>

</html>