{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="product">
  <h1 class="visually-hidden">Информация о продукте</h1>
  <div class="product-info">
    <img class="product-image" src="{{ product.image.url }}" alt="Монтажный провод" loading="lazy">
    <div class="product-details">
      <h2 class="product-header">{{ product.name }}</h2>
      <div class="product-details">
        <p class="product-price">{{ product.price }}</p>
        <p class="product-stock">В наличии: {{ product.count }}</p>
        <button class="product-cart cart text-cart" type="button">
          <img src="{% static 'icons/cart.svg' %}" alt="Корзина" class="product-cart-image cart-image">
          <span class="cart-text">В корзину</span>
        </button>
      </div>
    </div>
  </div>
  <div class="product-description">
    <h3>Описание</h2>
      <p class="product-description-text">{{ product.description }}</p>
  </div>
</section>
{% endblock %}