{% extends 'base.html' %}
{% block content %}
  <section class="catalog">
    <div class="catalog-header">
      <h1 class="visually-hidden">Каталог</h1>
      <h2 class="catalog-title">{{ category }}</h2>
      {% if categories.count > 0 %}
        <nav class="catalog-menu">
          <ul class="catalog-menu-list menu-list">
            <li class="catalog-menu-item">
              <a href="{% url 'catalog:list' %}" class="catalog-menu-link menu-link">Все</a>
            </li>
            {% for category in categories %}
            <li class="catalog-menu-item">
              <a href="{% url 'catalog:list-category' category.slug %}"
                class="catalog-menu-link menu-link">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    {% if products.count > 0 %}
      <div class="catalog-grid">
        {% for product in products %}
        {% include "components/card.html" with product=product %}
        {% endfor %}
      </div>
    {% else %}
      <div class="catalog-empty">
        <p class="catalog-empty-text">В этой категории еще нет товаров (</p>
      </div>
    {% endif %}
  </section>
{% endblock %}